/* Reset code start here */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Reset Code end here */

h1{
    text-align: center;
    font-size: 3rem;
}


/* posts start here */
.posts{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
/* posts end here */


.post{
    width: 23%;
    margin: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0,.0,.0,0.2);
    padding: 1rem;
    transition: all 0.5s;
}

.post:hover{
    box-shadow: 0 8px 16px 0 rgba(0,.0,.0,0.2);

}
/* Responsive parts start from here */
@media screen and (max-width: 992px){
    .post{
        width: 48%;
    }
}

@media screen and (max-width: 600px) {
    .post{
        width: 100%;
    }
}
/*Responsive pars end from here */